@import "tailwindcss";

@theme {
  --color-primary: #0F172A;
  --color-secondary: #334155;
  --color-accent: #D4AF37;
  --color-light: #F8FAFC;
  --color-text: #1E293B;
}

@layer base {
  body {
    background-color: var(--color-primary);
    color: var(--color-light);
    font-family: 'Inter', 'Vazirmatn', sans-serif;
    -webkit-font-smoothing: antialiased;
  }
}\n