@import "tailwindcss";

@theme {
  --color-primary: #1C1C1E;
  --color-secondary: #2C2C2E;
  --color-accent: #C29B62;
  --color-light: #F8FAFC;
  --color-text: #1E293B;
}

@layer base {
  body {
    background-color: var(--color-primary);
    color: var(--color-light);
    font-family: 'Inter', 'Vazirmatn', sans-serif;
    -webkit-font-smoothing: antialiased;
  }
}\n