@import "tailwindcss";

@theme {
  --color-primary: #17191D;
  --color-surface: #242329;
  --color-brand: #8A2F43;
  --color-accent: #315B81;
  --color-rose: #B67B7E;
  --color-ivory: #F3EEE7;
  --color-bronze: #A98B68;
}

@layer base {
  body {
    background-color: var(--color-primary);
    color: var(--color-ivory);
    font-family: 'Inter', 'Vazirmatn', sans-serif;
    -webkit-font-smoothing: antialiased;
  }
}